<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <label>Enter details for travel</label><br>
        <input type="number" placeholder="Distance Base Price"><br>
        <input type="number" placeholder="Distance Additional Price"><br>
        <input type="number" placeholder="Time Factor Multiplier"><br>
        <button type="submit">Click to Submit</button>
    </form>
</body>
</html>